@using Gameo.Domain
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_admin.cshtml";
}
<div class="container span9">
    <h4>
        Select Time Difference to view the Gaming Trends</h4>
    <br />
    <div class="form-inline">
        <label class="control-label" for="from">
            From :
        </label>
        <input type="text" class="input-medium date-picker" id="from" value="@DateTime.UtcNow.ToIST().ToString("dd/MM/yyyy")"/>
        <label class="control-label" for="to">
            To :
        </label>
        <input type="text" class="input-medium date-picker" id="to" value="@DateTime.UtcNow.ToIST().AddDays(1).ToString("dd/MM/yyyy")"/>
        <label class="control-label" for="branchName">
            Branch :
        </label>
        @Html.DropDownList("BranchName", ViewBag.Branches as IEnumerable<SelectListItem>)
        <button id="findTrend" class="btn btn-primary ajax-button" data-loading-text="Loading..."
            data-label-text="See the trend">
            See the trend</button>
    </div>
    <div class="clearfix">
        <br />
    </div>
    <div class="well span9 chart" id="splineChart" style="display: none">
    </div>
    <div class="well span9 chart" id="columnChart" style="display: none">
    </div>
    <div class="well span9 chart" id="pieChart" style="display: none">
    </div>
    <div class="well span9 chart" id="gamingPriceTrend" style="display: none">
    </div>
</div>
@section script
{
    <script src="@Url.Content("/Assets/js/gamingTrend.js")" type="text/javascript"></script>
}
