<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>kDSTSm4zKenEWUwGq+8ruBPxDEG3DmRnQ1IsN76p+tcmJ2AAgQt62e+e8IdN5vCZyfuSBldM4QEw/pb8b1g7WA7AvXLiNDtnarAiXWJbXFFSus2Mx1EVxfYzJVWNOvxHvTCXvEP7pqFyOeEW+8GxtyMLTbRH3WGkBdWkNyyy1mY=</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>XixAI1Kjc08pV1z5gD5I/suYAtBbpP5fmbmcU5e5OGo=</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>