@model Gameo.Domain.Branch
@{
    ViewBag.Title = "Create New Branch";
}
<div class="container">
    @using (Html.BeginForm("Create", "Branch", FormMethod.Post, new { @class = "form-horizontal gameo-form form-branch" }))
    {
        <div class="control-group">
            <h4>Create New Branch</h4>
            <label class="control-label" for="@Model.Name">
                Branch Name</label>
            <div class="controls">
                @Html.TextBoxFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Create" class="btn btn-primary offset1" />
                @Html.ActionLink("Back", "Index", "Branch", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    }
</div>
