@{
    ViewBag.Title = "View Revenue Details by Branch";
    Layout = "~/Views/Shared/_admin.cshtml";
}


<div class="container span9">
    <h4>
        Select the branch to view its revenue for the last 7 months</h4>
    <br />
    <div class="form-inline">
        <label class="control-label" for="branchName">
            Branch :
        </label>
        @Html.DropDownList("branchName", ViewBag.Branches as IEnumerable<SelectListItem>)
        <button id="getRevenue" class="btn btn-primary ajax-button" data-loading-text="Loading..." data-label-text="View Revenue">
            View Revenue</button>
    </div>
    <br />
    <div id="revenueStackedChart" class="well span9 chart" style="display: none"></div>
    <div id="ebMeterReadingTrend" class="well span9 chart" style="display: none"></div>
</div>


@section script
{
    <script src="@Url.Content("/Assets/js/revenueTrend.js")" type="text/javascript"></script>
}