@model Gameo.Domain.MembershipReCharge

@{
    ViewBag.Title = "RechargeSuccess";
    Layout = "~/Views/Shared/_membership.cshtml";
}

<div class="container">
    <div class="alert alert-success">
        <h4>MembershipCard Recharged successfully!</h4>
        Note down the below details
    </div>
    <div class="well">
        <p>
            Membership Id : <b>@ViewBag.MembershipId</b>
        </p>
        <p>
            Hours : <b>@Model.Hours</b>
        </p>
        <p>
            Price : <b>@Model.Price</b>
        </p>
    </div>
</div>
