@{
    ViewBag.Title = "RechargeSuccess";
    Layout = "~/Views/Shared/_membership.cshtml";
}

<div class="container">
    <div class="alert alert-success">
        <h4>MembershipCard Recharged successfully!</h4>
    </div>
    <div class="well">
        <p>
            Membership Id : <b>@ViewBag.MembershipId</b>
        </p>
    </div>
</div>
